<div class='flex flex-col' >
  <h1>Main#index</h1>
  <a href="/tasks/index">Tasks 1</a><br/>
  <%=  link_to("Tasks 2",{controller: 'tasks',action: 'index'})%><br/>
  <%= link_to("About",{action: 'about',id: 5,page: 20, :class=>'text-lime-400'})%><br/>
  <%= link_to("Categories",categories_path)%><br/>
  <%= link_to("Tasks",tasks_path)%><br/>
  <button class='text-lime-400 bg-slate-500 ' >Clique aqui</button>
  <%= link_to('First task',task_path(1))%>
</div>
