<div class='flex gap-2 flex-col'>
  <%= link_to("Back to Homepage",{controller: 'main',action: 'index'})%><br/>
  <h1 class="text-3xl font-bold underline" >Tasks#index</h1>
  <%= button_to("Add new task",{action: 'new'})%><br/>
  <table class='w-[max(700px,90vw)] text-center mt-2'>
    <tr>
      <th>#</th>
      <th class='text-teal-700'>Task</th>
      <th>Completed</th>
      <th>Category</th>
      <th>Action</th>
    </tr>
    <% @tasks.each do |task| %>
      <tr>
        <td><%=task.position%></td>
        <td><%=task.name%></td>
        <td>
          <%= form_with(model: task, url: complete_path(task)) do |f|%>
            <%= f.check_box :completed, { onchange: 'this.form.submit();' }%>
          <%end%>
          <td><%=task.category&.name || '-' %></td>
          <td>
            <%= link_to("Show",task_path(task), class: 'text-teal-500') %>
            <%= link_to("Edit", edit_task_path(task), class: 'text-teal-500') %>
            <%= link_to("Show","#", class: 'text-teal-500') %>
          </td>
        </tr>
      <% end %>
    </table>
    <%= link_to("New task",{action: 'new'},class: 'border-2 w-40 flex justify-center hover:bg-red-50 rounded-sm' )%><br/>
  </div>
